#footer{
    background: linear-gradient(rgb(0, 0, 0), rgb(33, 57, 68));
    padding: 30px 0;
}

#footer a{
    text-decoration: none;
}

#footer .footer-content{
    width: 60%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20px;
}

#footer .footer-content .block{
    width: 33.33%;
    display: flex;
    justify-content: center;
}

#footer .contact div{
    display: flex;
    flex-direction: column;
}


#footer .contact span, svg{
    color: #a0a0a0;
}


#footer .website-info p{
    color: #a0a0a0;
    margin: 0;
    cursor: pointer;
}

#footer .website-info p:hover{
    color: white;
}

#footer .title{
    font-weight: 600;
    font-size: 18px;
    color: white;
}

#footer .contact a{
    margin: 5px 0;
}

#footer .contact a:hover svg, #footer .contact a:hover span{
    color: white;
}

#footer .website-info p{
    margin: 5px 0;
}

#footer .erc-footer{
    width: 60%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a0a0a0;
    border-top: 2px solid #a0a0a0;
    cursor: pointer;
}

