#user-profile {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-profile .profile-card {
    width: 25%;
    background-color: #141519
}

#user-profile .title-profile {
    font-weight: 600;
    font-size: 30px;
    color: white;
}

#user-profile .profile-card .info-fill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
    position: relative;
}

#user-profile .profile-card .info-fill .avatar-container {
    position: absolute;
    top: -50px;
}

#user-profile .profile-card .info-fill .avatar-user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#user-profile .profile-card .info-fill .edit-avatar {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #dadada;
    border: .125rem solid #000;
    cursor: pointer;
}

#user-profile .profile-card .info-fill .edit-avatar svg {
    color: #000;
}

#user-profile .profile-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#user-profile .gender-dob {
    display: flex;
    width: 100%;
    padding: 0 45px;
}

#user-profile .dob-contain {
    width: 200px;
}

#user-profile .gender-contain {
    margin-top: 24px;
    margin-left: 30px;
}

#user-profile .gender {
    width: 150px;
}

#user-profile .gender .MuiInput-input {
    color: white;
}

#user-profile .gender .MuiFormHelperText-root {
    color: #a0a0a0;
    font-weight: 500;
}

#user-profile .info-fill label {
    color: white;
    font-weight: 600;
}

#user-profile .info-fill .MuiInputLabel-shrink {
    color: #a0a0a0;
}

#user-profile .css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
    border-bottom: 2px solid #f47521
}

#user-profile .css-1eed5fa-MuiInputBase-root-MuiInput-root::before {
    border-bottom: 2px solid #a0a0a0
}

#user-profile input {
    color: white;
}

#user-profile .dob-contain p {
    color: #a0a0a0;
}

.MuiDateCalendar-root.css-1rtg91x-MuiDateCalendar-root {
    background-color: #26282c;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: #26282c;
}

.MuiButtonBase-root.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: #a0a0a0;
}

#user-profile .dob-contain .MuiInputBase-root {
    border: 2px solid #a0a0a0;
    border-radius: 4px;
}

#user-profile .dob-contain .MuiInputBase-root fieldset {
    border: #0000;
}

#user-profile .action-btn {
    display: flex;
    padding: 30px;
}

#user-profile .action-btn .but {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    margin: 0 5px;
    border: 2px solid #f47521;
    color: #f47521;
    font-weight: 600;
    cursor: pointer;
}

#user-profile .action-btn .save {
    background-color: #f47521;
    color: #000;
}

#user-profile .action-btn .save:hover {
    background-color: #f38135;
    border: 2px solid #f38135;
}

#user-profile .action-btn .cancel:hover {
    border: 2px solid #f38135;
    color: #f38135;
}

#user-profile .upload-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #23252b;
    padding: 60px 40px;
    border: 1px solid #373737;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 4;
    animation: slideUp 0.3s forwards;
    width: 720px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes slideUp {
    from {
        top: 100%;
    }

    to {
        top: 53%;
    }
}

@keyframes slideDown {
    from {
        top: 53%;
    }

    to {
        top: 150%;
    }
}

#user-profile .upload .upload-form.slide-down {
    animation: slideDown 0.3s forwards;
}

#user-profile .upload-form .title {
    color: white;
    font-weight: 600;
    font-size: 32px;
}

#user-profile .upload-form .description {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    margin-top: 30px;
}

#user-profile .upload-form .upload-img {
    width: 100%;
    height: 400px;
    border: 2px dashed #a0a0a0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    cursor: pointer;
}

#user-profile .upload-form .upload-img svg {
    color: #a0a0a0;
    font-size: 160px;
}

#user-profile .upload-form .btn-action {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#user-profile .upload-form .btn-action .save-btn,
#user-profile .upload-form .btn-action .cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    margin: 0 25px;
    border: 2px solid #f47521;
    color: #f47521;
    font-weight: 600;
    cursor: pointer;
}

#user-profile .upload-form .btn-action .save-btn {
    background-color: #f47521;
    color: #000;
}

#user-profile .upload-form .btn-action .save-btn:hover {
    background-color: #f38135;
    border: 2px solid #f38135;
}

#user-profile .upload-form .btn-action .cancel-btn:hover {
    border: 2px solid #f38135;
    color: #f38135;
}

#user-profile .upload-form .img-container {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#user-profile .upload-form .img-container img {
    border-radius: 50%;
    width: 360px;
    height: 360px;
    object-fit: cover;
}