
#header{
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color:  #23252b;
    z-index: 100;
}

.header-logo {
    display: flex;
    margin-left: 120px;
}

.header-logo img{
    height: 60px;
}

.header-menu{
    display : flex;
    margin-left: 20px;
    cursor: pointer;
}

.anime-menu{
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 120px;
}

.header-menu div span{
    color: rgb(211, 211, 211);
}

.header-action {
    width: 120px;
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}
.header-action .search, .header-action .user-action{
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 60px;
}

.header-action .search svg{
    color: white;
}


.anime-menu:hover{
    background-color: #141519;
}
.header-action div:hover{
    background-color: #141519;
}

.anime-type-dropdown {
    width: 862px;
    background-color: #141519;
    position: absolute;
    top: 60px;
    left: 200px;
    overflow: hidden;
    transition: max-height 0.2s ease;
    z-index: 2;
}
.anime-top-dropdown {
    width: 645px;
    background-color: #141519;
    position: absolute;
    top: 60px;
    left: 320px;
    overflow: hidden;
    transition: max-height 0.2s ease;
    z-index: 2;
}
.anime-season-dropdown {
    width: 862px;
    background-color: #141519;
    position: absolute;
    top: 60px;
    left: 440px;
    overflow: hidden;
    transition: max-height 0.2s ease;
    z-index: 2;
}

.container {
    width: 862px ;
}
.row{
    width: 100% ;
    height: 42px;
    display: block ;
}
.col{
    width: 25% ;
    height: 42px;
    display: inline-block;
    align-items: center;
}

.col span {
    position: absolute;
    transform: translateY(50%);
    margin-left: 20px; /* Add left margin of 20px */
}

.col:hover{
    background-color: #23252b;
}

#header .header-action .user-action img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#header .user-action{
    position: relative;
}

#header .user-action .user-action-dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    height: 260px;
    background-color: #141519;
    padding: 10px 0;
}
#header .user-action .user-action-dropdown .block{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

#header .user-action .user-action-dropdown .block:hover{
    background-color: #23252b;
}

